.hero {
  background: linear-gradient(to right, #8b4513, #d2691e);
  color: white;
  padding: 6rem 2rem;
  text-align: center;
  


  background-image: url("../assets/images/background-img.jpg"); 
  background-size: cover;     
  background-position: center;  
  background-repeat: no-repeat; 
  min-height: 95vh;
  width: auto;        
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;                 
  padding: 20px;
}



.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  opacity: 0.9;
  font-weight: 600;
}

.collections h2,
.featured h2 {
  text-align: center;
  margin: 3rem 0 2rem;
  color: #8b4513;
  font-size: 2rem;
}

.collections .grid,
.featured .grid {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

a.btn {
  text-decoration: none;
  background: linear-gradient(to right, #8b4513, #d2691e);
  font-weight: 600;
  font-size: large;
}

a.btn:hover {
  background: linear-gradient(to right, #d2691e, #8b4513); 
  transform: scale(1.05); 
  box-shadow: 0 4px 15px rgba(0,0,0,0.3); 
}

.collections, .featured{
  padding-left: 20px;
  padding-right: 20px;
}

.featured {
   margin-bottom: 2rem;
}

